.hero-unit {
  position: relative;
  font-size: 18px;
  font-weight: 200;
  width: 100px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}
