<!doctype html>
<html ng-app="angularWidgetApp">
  <head>
    <!--base href="/"-->
    <title>angularWidgetDemo</title>
    <!-- build:css({.tmp,app}) styles/demo.css -->
    <link rel="stylesheet" href="styles/demo.css">
    <!-- endbuild -->  </head>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <body ng-init="navigationCount = 0">
    <div style="background-color: gray">
      <a ng-repeat="app in ['app1', 'app2', 'app3']" ng-href="#/{{app}}/"
        ng-click="$parent.navigationCount = navigationCount + 1"
        style="padding: 5px">{{app}}</a>
      <span>{{navigationCount}}</span><br/><br/>
    </div>
    <ng-view></ng-view>

    <!-- build:js({.tmp,app}) scripts/demo.js -->
    <script src="scripts/demo.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/angular-widget.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/directives/ng-widget.js"></script>
    <script src="scripts/services/file-loader.js"></script>
    <script src="scripts/services/tag-appender.js"></script>
    <script src="scripts/services/widget-config.js"></script>
    <script src="scripts/services/widgets.js"></script>
    <!-- endbuild -->
  </body>
</html>
